* {
    margin: 0;
    padding: 0;
}

#top {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 15;
}

#header {
    text-align: center;
    background-color: white;
}

#header a {
    clear: none;
}

.fb {
    float: left;
    position: absolute;
    left: 0;
    margin: 0.5em;
}

#header img {
    height: 4.5em;
    padding: 0.8em;
}

.black {
    text-decoration: none;
    color: black;
}

#main {
    margin-top: 152px;
}

#content {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 3em;
    clear: both;
}

.text {
    width: 70%;
    margin: 0 auto;
    padding-top: 2em;
}

.text h1 {
    font-family: Arial;
    font-size: 1.8em;
}

.text h2 {
    font-family: Arial;
    font-size: 1.5em;
    margin-top: 1em;
}

.text p {
    font-family: Arial;
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;
}

#offers h2 {
    text-align: center;
}

#om_oss {
    width: 100%;
    border: 1px solid #666;
    border-radius: 0.2em;
    margin-top: 1em;
    box-shadow: 3px 3px 3px #666;
}