 *{
    margin: 0;
    padding: 0;
}
/* Header och Meny delen */
#top {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 15;
    
}
/* Header med logo */
#header {
    text-align: center;
    background-color: white;
}
/* Länk på logo till startsida */
#header a {
    clear: none;
}
/* Facebook knapp */
.fb {
    float: left;
    position: absolute;
    left: 0;
    margin: 0.5em;
}
/* Gladrags logo */
.logga {
    height: 9.5em;
    padding: 0.8em;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
/* Färg */
.black {
    text-decoration: none;
    color: black;
}
/* Main innehåll */
#main {
    margin-top: 262px;
}
/* Main innehåll */
#content {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 3em;
    clear: both;
}
/* Main innehåll, text */
.text {
    width: 70%;
    margin: 0 auto;
    padding-top: 2em;
}
/* Första header */
.text h1 {
    font-family: Arial;
    font-size: 1.8em;
}
/* Andra header */
.text h2 {
    font-family: Arial;
    font-size: 1.5em;
    margin-top: 1em;
}
/* Text under header 1 */
.text p {
    font-family: Arial;
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;
}
/* Erbjudande header */
#offers h2 {
    text-align: center;
}

/* Om oss innehåll */
#om_oss {
    width: 70%;
    border: 1px solid #666;
    border-radius: 0.2em;
    box-shadow: 3px 3px 3px #666;
    margin-top: 1em;    
}

#service {
    width: 70%;
    border: 1px solid #666;
    border-radius: 0.2em;
    box-shadow: 3px 3px 3px #666;
    margin-top: 1em;
    
}

#slogan {
    margin: 0 auto;
}


/* Body 3 erbjudanden */
.body-content1 {
    max-width: 1100px;
    margin: auto;
	padding: 5px 0;
	background-color: white;
    margin-top: 10px;
   
}

/* 3 erbjudanden padding bottom */
.thirds {
	padding-bottom: 500px;
}

/* 3 erbjudanden innehåll */
.one-third {
	width: 30%;
	float: left;
	margin-right: 5%;
}

/* Sista erbjudandets innehåll */
.one-third-last {
	margin: 0;
}

/* Main kolumnen  */
.main {
	width: 65%;
	float: left;
	margin-right: 5%;
}

/* Sid kolumnen */
.side {
	width: 30%;
	float: left;
}

/* Inre sektion 3 erbjudanden */
.section-inner {
	max-width: 1100px;
	padding: 0 0px;
	margin:  auto;
}

/* 3 erbjudanden Innehåll */
.thirds {
	padding-bottom: 0px;
    padding-top: 15px;
    
}

/* 3 erbjudanden Innehåll */
.one-third {
	width: 30%;
	float: left;
	margin-right: 5%;
    padding-bottom: 0px;
}

/* Sista erbjudandets innehåll */
.one-third-last {
	margin: 0;
    padding-bottom: 0px;
}

/* 3 erbjudanden innehåll*/
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }


/* 3 erbjudanden bilder */
#imgn {
    max-width: 100%;
	height: auto;
    margin: 26px 0 10px 0;
    border-radius: 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* Caption */
.capp {
    padding:2px 2px;
    opacity: 0.6;
    margin-bottom: -26px;
    text-align:center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-family:sans-serif;
    font-size:18px;
    color: white;
    background: black;
    text-align: center
    /*background:rgba(0,0,0,0.12);*/
    position:absolute;
}
/* tillbaka till toppen knapp */ 
a.back-to-top {
	display: none;
	width: 60px;
	height: 60px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 20px;
    
    
    background: #C6C6C6 url(up-arrow.png) no-repeat center 43%;
	
    
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
a:hover.back-to-top {
	background-color: grey;
    
}
#box1 {
    border-bottom: 0px solid black;
    background-color: white;
    text-align: center;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}
.fb1 {
    height: 1.9em;
    top: 0.5em;
    position:relative;
}
.instagram1 {
    height: 1.6em;
    top: 0.4em;
    position:relative;
}
.twitter1 {
    height: 1.9em;
    top: 0.5em;
    position:relative;
}
.fixed1{
    height: 4em;
    padding: 0.8em;
}
#box2 {
    width: 15em;
    text-align: center;
    display:none;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    height: 2.8em;
}
.fb2 {
    height: 1.9em;
    top: 0.2em;
    position: relative;
}
.instagram2 {
    height: 1.6em;
    top: 0.05em;
    position: relative;
}
.twitter2 {
    height: 1.9em;
    top: 0.2em;
    position: relative;
}

.fb-feed{
    text-align: center;
}