/* Kartans storlek */
#map {
    margin-top: 2em;
    margin-bottom: 2em;
}

/* Responiv inställningar Karta */
.map-responsive{
    overflow:hidden;
    padding-bottom:75%;
    position:relative;
    height:0;
}

/* Responiv inställningar Karta */
.map-responsive iframe{
    left:0;
    top:0;
    height: 100%;
    width:100%;
    position:absolute;
}

/* Position Texter */
#contact {
    font-family: Arial;
    font-size: 1em;
    text-align: justify;
    text-decoration: none;
    line-height: 2em;
    color: black;
}

/* 
#contact a:hover {
    text-decoration: underline;
}
*/

/* CSS för kontaktformiulär börjar här */

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);



#feedback-page{
	text-align:center;
}

/*Formulärets storlek*/
#form-div{
	width: 100%;
	margin: 0 auto;
}

/*Utseendet för inmatningsfälten*/

.feedback-input{
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
}

/*Utseende för inmatningsfält när du ligger i det */

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
    padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

/*Lägger till ikoner i inmatningsfälten*/
#name{
	background-image: url(../../bilder/ikoner/person.png);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

/*Ser till att ikonerna i inmatningsfälten ligger kvar vid fokus*/
#name:focus{
	background-image: url(../../bilder/ikoner/person.png);
	background-size: 30px 30px;
	background-position: 8px 5px;
    background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email{
	background-image: url(../../bilder/ikoner/email.png);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email:focus{
	background-image: url(../../bilder/ikoner/email.png);
	background-size: 30px 30px;
    background-position: 11px 8px;
	background-repeat: no-repeat;
}

#telephone{
	background-image: url(../../bilder/ikoner/telephone.png);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#telephone:focus{
	background-image: url(../../bilder/ikoner/telephone.png);
	background-size: 30px 30px;
    background-position: 11px 8px;
	background-repeat: no-repeat;
}

#comment{
	background-image: url(../../bilder/ikoner/pencil.png);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

/*Storlek för textfältet*/
textarea{
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

/*Gör så att inmatningsfält och textfält får vit bakgrund vid hover*/
input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

/*Utseende och storlek för submit knapp*/
#button{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #000;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
    margin-top:-4px;
    margin-bottom: 22px;
    font-weight:700;
}

/*Ändrar färg på knapp vid hover*/
#button:hover{
	background-color: #e7e7e7;
    border: 1px double #666;
	color: #000
}
	
.submit:hover{
	color: #3498db;
}

/*Animation*/
.ease{
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

/*Lägger till animationen till knappen*/
.submit:hover .ease{
    width:100%;
    background-color:white;
}