/* Kartans storlek */
#map {
    margin-top: 2em;
    margin-bottom: 2em;
}

/* Responiv inställningar Karta */
.map-responsive{
    overflow:hidden;
    padding-bottom:75%;
    position:relative;
    height:0;
}

/* Responiv inställningar Karta */
.map-responsive iframe{
    left:0;
    top:0;
    height: 100%;
    width:100%;
    position:absolute;
}

/* Position Texter */
#contact {
    font-family: Arial;
    font-size: 1em;
    text-align: justify;
    text-decoration: none;
    line-height: 2em;
    color: black;
}

/* 
#contact a:hover {
    text-decoration: underline;
}
*/

/* Formulär storlek */

form {
    width: 100%;

}

/* Namnen på textfälten */
label {
    width: 100%;
    height: 2em;
    font-family: Arial;
    font-size: 1em;
}

/* Textfälten */
input {
    width: 100%;
    background-color: #e7e7e7;
    line-height: 2em;
    border: 1px solid black;
    border-radius: 0.2em;
    margin-bottom: 1em;
}

/* Skicka knappen */
input[type=submit] {
    width: 8em;
    height: 2em;
    cursor: pointer;
}

input submit {
    width: 50px;
}

/* Meddelande textarea */
textarea {
    width: 100%;
    font-family: Arial;
    text-align: justify;
    background-color: #e7e7e7;
    line-height: 2em;
    border: 1px solid black;
    border-radius: 0.4em;
    margin-bottom: 10px;
}