/* Media Query for Tablet 640-501(px) */
@media (max-width:640px) and (min-width:501px) {
    /* Header/Menu */
    #header img {
        height: 3.5em;
        padding: 0.5em;
    }
    
    nav {
        height: 2.5em;  
        
    }

    nav ul {
        height: 2.5em;
        width: 30em;
    }
    
    nav li {
        height: 2.5em;
        width: 6em;
    }
    
    nav a {
        padding-top: 0.9em;
        font-size: 0.8em;
    }
    
    /* Main content Tablet*/
    #main {
        margin-top: 116px;
    }
    
    .text h1 {
        font-size: 1.5em;
    }
    
    .text h2 {
        font-size: 1.2em;
    }
    
    #slider {
        padding-top: 1em;
    }
    
    /* Footer */
    #footer h1 {
        font-size: 1.2em;
    }
    
    #footer p {
        line-height: 1.2em;
    }
    
    #footer {
        height: 16.1em;
    }
    
    #wrapper {
        height: 13.5em;
    }
    
    #left {
        width: 50%;
        height: 6em;
    }
    
    #center {
        width: 50%;
        height: 6em;
    }
    
    #kontakt {
        margin: 0;
    }
    
    #right {
        width: 100%;
        height: 7em;
    }
    
    #footer_menu {
        float: left;
    }
    
    #footer_menu a {
        line-height: 1.2em;
    }
    
    #copyright {
        height: 1.5em;
    }
    
    #copyright p {
        margin-top: 0.6em;
    }
    
    .fb {
        margin: 0.25em;
    }
}

/* Media Query for Mobile 500-100(px) */
@media (max-width:500px) and (min-width:100px) {
    /* Header/Menu */
    #header .fb {
        top: 2em;
    }
    
    #header img {
        height: 2.8em;
        padding: 0.5em;
    }
    
    #mobile_menu {
        display: block;
    }
    
    button:hover {
        cursor: pointer;
    }
    
    nav {
        height: 2.5em; 
    }
    
    #menu_ul {
        display: none;
    }
    
    nav ul {
        margin-top: 2.5em;
        height: 12.8125em;
        width: 100%;
        border-bottom: 1px solid #666;
        box-shadow: 0 5px 10px #666;
        background-color: white;
    }
    
    nav li {
        float: left;
        height: 2.5em;
        width: 100%;
        border-top: 1px solid #666;
    }
    
    nav a {
        padding-top: 0.9em;
        font-size: 0.8em;
    }
    
    /* Main content Mobile */
    #main {
        margin-top: 107px;
    }
    
    #content {
        width: 100%;
    }
    
    #content {
        width: 100%;
    }
    
    .text h1 {
        font-size: 1.5em;
    }
    
    .text h2 {
        font-size: 1.2em;
    }
    
    .text {
        width: 95%;
    }
    
    .text p {
        text-align:left
    }
    
    #slider {
        padding-top: 1em;
    }
    
    /* Brands */
    #brands {
        width: 100%;
    }
    
    .brand a {
        width: 8em;
        height: 7em;
    }
    
    .brand img {
        width: 7em;
    }
    
    .brand_popup {
        width: 100%;
        height: 1.5em;
        bottom: 0;
        padding-top: 0.8em;
        font-size: 1em;
    }    
    
    /* Contact */
    #contact {
        text-align: left;
    }
    
    textarea {
        height: 10em;
    }
    
    
    /* Footer */
    #footer h1 {
        font-size: 1.2em;
    }
    
    #footer p {
        line-height: 1.2em;
    }
    
    #footer {
        height: 23em;
    }
    
    #wrapper {
        height: 21em;
        width: 100%;
        margin: 0;
    }
    
    #left {
        width: 100%;
        height: 6em;
        margin-top: 1em;
        padding-bottom: 1em;
        text-align: center;
    }
    
    #hitta {
        float: none;
        margin: 0 auto;
        height: 6em;
    }
    
    #hitta a {
        float: none;
    }
    
    #center {
        width: 100%;
        height: 6em;
        text-align: center;
    }
    
    #kontakt {
        width: auto;
        margin: 0;
        padding-top: 0;
    }
    
    #kontakt a {
        float: none;
    }
    
    #right {
        width: 100%;
        height: 7em;
        text-align: center; 
    }
    
    #footer_menu {
        float: left;
        margin-top: 1em;
        width: 100%;
    }
    
    #footer_menu a {
        line-height: 1.2em;
    }
    
    #copyright {
        height: 2em;
    }
    
    #copyright a {
        float: left;
        margin-left: 0.5em;
        width: auto;
    }
    
    #copyright p {
        margin-top: 0.5em;
    }
    
    #copyright .fb {
        display: none;
    }
    
    .go-top {
        position: absolute;
        right: 0;
    }
    
    .arrow {
        margin: 0;
    }
    
    .fb {
        margin: 0.25em;
    }
}